Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent/
Content/GoodSky/
Content/KiteDemo
Content/PhotoR_Backgrounds
Content/Levels/FirstPersonExampleMap_BuiltData.uasset
Content/Static/TestingGroundPack